.p-row {
	padding-left: 10px;
	padding-right: 10px;
}

.pitch-preview {
	padding: 10px;
}

.pitch-preview:hover {
	cursor: pointer;
	border:; 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 10px #ccc;
	z-index: 2;
}

.pitch-preview div {
	padding-left: 15px;
}

.pitch-preview img {
	width: 100%;
}

.pitch-preview div h3 {
	margin-top: 0;
	font-weight: bold;
}

html, body {
	width: 100%;
	height: 100%;
}

.main-header {
	height: 150px;
	background-color: #9CFFFF
}

.padded {
	padding-left:15px;
}

.questions {
	/*margin-top: 60px;*/
}
.question {
	font-size: 125%;
}
.q-row {
	padding-top: 5px;
}

.c-row {
	padding-left: 15px;
}
.username {
	margin-bottom: 0;
}

.chart-block {
	display:block;
	/*height: 400px;
	widows: 600px;*/
}
.chart-block > svg {
	height: 300px;
}

.mintystale {
	width: 100px;
}

#loginRegisterContainer {
	/*z-index: 2; 
	width: 100%;*/
	vertical-align: middle;
}

#loginRegisterContainer a {
	display: inline;
}

#userMessage {
	display: inline;
	font-weight: bold;
}