.row {
	padding-left: 10px;
	padding-right: 10px;
}

.pitch-preview {
	padding: 10px;
}

.pitch-preview:hover {
	cursor: pointer;
	border:; 1px solid #fff;
	border-radius: 5px;
	box-shadow: 0 0 10px 10px #ccc;
	z-index: 2;
}

.pitch-preview div {
	padding-left: 15px;
}

.pitch-preview img {
	width: 100%;
}

.pitch-preview div h3 {
	margin-top: 0;
	font-weight: bold;
}